:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    --font-size: 0.875rem;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
    --font-family: "Montserrat", sans-serif;
    --font-family-accent: "Fraunces", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;

    margin: 1rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size);

    background-color: var(--Cream);
}

.product {
    max-width: 600px;
    display: grid;

    border-radius: .5rem;
    overflow: hidden;
    color: var(--Grey);
    background-color: var(--White);
}

@media (min-width: 600px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}

.product__container {
    display: grid;
    gap: 1.25rem;
    padding: 1.5rem;
    align-items: start;
}

.product__tag {
    font-size: 0.815rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.product__title {
    font-family: var(--font-family-accent);
    color: var(--Black);
    font-size: 2rem;
    line-height: 1;
    font-weight: var(--font-weight-bold);
}

.product__info {
    line-height: 1.5;
}

.product__price {
    font-family: var(--font-family-accent);
    color: var(--Green-500);
    font-size: 1.875rem;
    font-weight: var(--font-weight-bold);
}

.btn {
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    border: none;
    border-radius: 8px;
    color: var(--White);
    font-weight: var(--font-weight-bold);
    background-color: var(--Green-500);
}

.add-to-cart-btn::before {
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
}

.btn:hover,
.btn:focus {
    background-color: var(--Green-700);
}